{% extends "layouts/main.njk" %}
{% block content %}
    <section  class="header-homepage">
        <div class="header-homepage-title-container">
            <h1>WELCOME TO HEALTHFLOW</h1>
            <div>browse</div>
        </div>
    </section>

    <section class="block block-animate-common section-2 colored-bg">
        <div class="block-banner-container columns q-container">
            <div class="banner-text column">
                <span>the doctors</span>
                <h1>Discover trusted</h1>
                <h2>traditional doctors</h2>
                <h3>& healers</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="brush-btn">BROWSE THE DOCTORS</div>
            </div>
            <div class="banner-img img-1 column"></div>
            <div class="bg-img-brush"></div>
        </div>
    </section>


    <section class="block block-animate-common section-3">
        <div class="block-banner-container columns q-container">
            <div class="banner-text column">
                <span>the diagnosis</span>
                <h1>Get diagnosed by</h1>
                <h1>the best healers,</h1>
                <h1>anywhere you are</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="brush-btn">GET DIAGNOSTIC FOR FREE</div>
            </div>
        </div>
    </section>

    <section class="block block-animate-common colored-bg">
        <div class="block-banner-container columns q-container">
            <div class="banner-text column">
                <span>the shop</span>
                <h1 class="section-text">Explore</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="brush-btn">SHOP NOW</div>
            </div>
            <div class="banner-img img-2 column"></div>
        </div>
    </section>


    <section class="block text-center">
        <div>Reviews</div>
        <h1 class="title-center section-text">What people</h1>
        <div class="testimonial-carousel q-container">
            <div class="testimonial-carousel-item">
                <div class="carousel-item-inner text-left">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <div class="stars-container">
                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                        <h4>Robin Jefferson</h4> 
                    </div>
                    <div class="profile-image img-1"></div>  
                </div>
            </div>
            <div class="testimonial-carousel-item">
                <div class="carousel-item-inner text-left">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <div class="stars-container">
                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                        <h4>Melanie Lynn</h4>
                    </div>
                    <div class="profile-image img-2"></div>  
                </div>
            </div>
            <div class="testimonial-carousel-item">
                <div class="carousel-item-inner text-left">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <div class="stars-container">
                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                        <h4>Jonathan Doe</h4>
                    </div>
                    <div class="profile-image img-3"></div>                            
                </div>
            </div>
            <div class="testimonial-carousel-item">
                <div class="carousel-item-inner text-left">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <div class="stars-container">
                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                        <h4>Melanie Lynn</h4>  
                    </div> 
                    <div class="profile-image img-1"></div>                      
                </div>
            </div>
            <div class="testimonial-carousel-item">
                <div class="carousel-item-inner text-left">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <div class="stars-container">
                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>

                        <svg fill="#F8CD26" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                        <h4>Melanie Lynn</h4>
                    </div>
                    <div class="profile-image img-2"></div>     
                </div>
            </div>
    </section>


    <section class="block block-animate-common">
        <div class="block-banner-container columns q-container">
            <div class="banner-text column">
                <span>the centers</span>
                <h1 class="section-text">Explore</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="brush-btn">EXPLORE THE CENTERS</div>
            </div>
            <div class="banner-img img-1 column"></div>
        </div>
    </section>

    <section class="block block-animate-common">
        <div class="block-banner-container columns q-container">
            <div class="banner-text column">
                <span>the tips and tricks</span>
                <h1 class="section-text">Learn interesting</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                <div class="brush-btn">READ MORE</div>
            </div>
        </div>
    </section>
{%  endblock %}